:root{
    --clr--primary-100: hsl(0, 0%, 100%);
    

    --clr--neutral-100: hsl(30, 18%, 87%);
    --clr--neutral-200: hsl(330, 100%, 98%);
    --clr--neutral-300: hsl(30, 54%, 90%);


    --clr--dark-100: hsl(30, 10%, 34%);
    --clr--dark-200: hsl(24, 5%, 18%);

    --clr--secondary-100: hsl(332, 51%, 32%);
    --clr--secondary-200: hsl(14, 45%, 36%);


    --fw--regular: 400;
    --fw--bold: 600;
    --fw--deep: 700;

    --ff-regular: "Outfit", sans-serif;
    --ff-accent: "Young Serif", serif;
}


*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
}

/* body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
} */

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}

h1, h2, h3{
    line-height: 1;
}

body{
    background-color: var(--clr--neutral-300);
    /* font-size: 4rem; */
    
}

.container{
    border-radius: 1rem;
    overflow: hidden;
    max-width: 500px;
    margin: 4rem auto;
}


header{
    padding: 1rem;
    background-color: var(--clr--primary-100);
}

img{
    width: 100%;
    /* min-height: 1vh; */
    border-radius: .5rem;
}


main{
    padding: 1rem;
    background-color: var(--clr--primary-100);
    font-size: 1rem;
    line-height: 1.7;
    color: var(--clr--dark-100);
    
}

h1{
    margin-bottom: 20px;
    font-weight: var(--fw--regular);
    color: var(--clr--dark-200);
    font-family: var(--ff-accent);
}

p{
    font-family: var(--ff-regular);
}

.preparation{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--clr--neutral-200);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    font-family: var(--ff-regular);
}

.preparation h3{
    color: var(--clr--secondary-100);
    font-weight: var(--fw--deep);
    margin-bottom: 5px;
}

.preparation ul li::marker{
    color: var(--clr--secondary-100);
}

#bolden{
    font-weight: var(--fw--deep);
}


h2{
    color: var(--clr--secondary-200);
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: var(--ff-accent);
    font-weight: var(--fw--regular);
}

.ingredients{
    margin-bottom: 20px;
}
/* ::marker selector is used to change the color of the bullet of a list */
.ingredients ul li{
    font-family: var(--ff-regular);
}

.ingredients li::marker{
    color: var(--clr--secondary-200);
}

.instructions{
    margin-bottom: 20px;
}

.instructions ol li{
    font-family: var(--ff-regular);
}

.instructions li::marker{
    color: var(--clr--secondary-200);
    font-weight: var(--fw--bold);
}

.nutrition-table .item{
    display: flex;
    padding: .75rem;
    border-bottom: 1px solid var(--clr--neutral-100)
}

.nutrition-table .item > *{
    width: 100px;
    margin-right: auto;
    
}

.nutrition-table .item #child2{
    color: var(--clr--secondary-200);
    font-weight: var(--fw--bold);
}

.nutrition-table .item:last-child{
    border-bottom: 0;
}


@media (max-width: 400px){
    body{
        /* background-color: green; */
    }

    .container{
        margin: 0;
        border-radius: 0;
        /* overflow: visible; */
    }

    header{
        padding: 0;
    }

    img{
        border-radius: 0;
        width: 100%;
    }

    main{
        margin: 0;
        
        
    }


}
